[2018-08-08 18:23] stanmoore1 opened #1 "Wrong number of grid cells in collide.cpp with moving surfaces"
## Summary

If there are moving surfaces with grid adaptation, the number of local grid cells stored in `collide.cpp` can get out of sync with the true number in `grid.cpp`.

## Type of Issue

Bug

## Steps to Reproduce

To reproduce this issue modify the `collide.cpp` source file as
[code]

Then run `examples/adapt/in.adapt.rotate` on one or more processors and it will produce output such as:
[co

[2018-08-14 20:30] kjhigdon opened #2 "Variable Rotational Relaxation"
## Summary

Current variable rotational relaxation approach does not reproduce the expected relaxation rate.

## Type of Issue

Physics Bug

## Detailed Description

The current version of the rotational relaxation model does not correctly reproduce the expected relaxation rate and will not reach equilibrium. In the current model, the energy of the colliding particles is used in Parker's model to

[2018-08-14 21:14] kjhigdon opened #3 "NaNs in Mean Free Path"
## Summary

Negative temperatures lead to NaNs in the mean free path calculation.

## Type of Issue

Bug Report

## Detailed Description

Negative temperatures calculated in a cell result in the mean free path calculation to fail. Negative temperatures result when there's only one particle in a cell. In this case, the temperature is calculated, but should result in zero. Due to machine precision,

[2018-08-14 21:39] stanmoore1 commented on #3
@kjhigdon thanks for reporting this issue. Could you post an "as small as possible" input deck for SPARTA that reproduces this issue? That would help a lot.

[2018-08-15 18:48] aborner1 opened #4 "Ambipolar model with recombination reactions"
## Summary

There seems to be an issue when the ambipolar model is used in conjunction with recombination reactions (neutral or ambipolar), as running the code in parallel returns a segmentation fault, and running serially with Valgrind shows memory leaks in fix_ambipolar.cpp and react_bird.cpp.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

22Jun18

## Expected Behavior (Bug Repor

[2018-08-15 19:02] aborner1 opened #5 "Fix ave/grid with both grid trot and tvib/grid"
## Summary

If one invokes a fix ave/grid command that averages both grid trot and tvib/grid, the code returns a segmentation fault.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

22Jun18

## Expected Behavior (Bug Report)

One should be able to average the rotational and discrete vibrational temperatures in one fix.

## Actual Behavior (Bug Report)

Code crashes (segmentation faul

[2018-08-15 21:03] aborner1 opened #6 "Additional reaction diagnostics: Breakdown of count of each reaction at end of run"
## Summary

Add a feature that list the count of each possible reaction at the end of a run

## Type of Issue

Suggestion for an Enhancement

## Detailed Description (Enhancement Suggestion)

It would be helpful if additional reaction diagnostics, such as the number of occurrences of each gas and surface reactions were listed at the end of a run. That way, the user could quickly visually diagnosti

[2018-08-15 21:21] aborner1 opened #7 "Cut3d failed error"
## Summary

When refining grid around an object, Cut3d eventually fails and the code returns a segmentation fault.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

22Jun18

## Expected Behavior (Bug Report)

Code should be able to refine grid around an object as many times as requested, or at least cleanly exit after returning an error.

## Actual Behavior (Bug Report)

There seems t

[2018-08-15 21:35] kjhigdon commented on #3
@stanmoore1 I've attached the files for a case that generates NaNs. The NaNs are observed both in the log.sparta file as a global value and in several of the sim_grid_out.* files generated by running the case. This was a test case that I ran a couple weeks ago. Sorry if there's some useless processes in my in.circle input deck.

[mfp_issue.zip](https://github.com/sparta/sparta/files/2291779/mfp_is

[2018-08-15 21:37] stanmoore1 commented on #3
@kjhigdon awesome thanks!

[2018-08-15 22:32] stanmoore1 commented on #7
@aborner1 I can reproduce this. I get a hang and this message: `Cut3d failed in cell ID: 542217403`. Using a printf statement I see that the error flag is:

[code]

It is supposed to error out but it never makes it there because it hangs or segfaults in the `failed_cell()` function.

[2018-08-15 22:35] stanmoore1 commented on #3
@kjhigdon I can reproduce this.

[2018-08-15 22:41] stanmoore1 commented on #4
@aborner1 looks like this errors out in the latest version of SPARTA that is in our internal SVN repo. It fails with:

[code]

Should be updated here in a PR soon.

[2018-08-15 22:50] stanmoore1 commented on #5
Confirmed, here is a stack trace from gdb:

[code]

[2018-08-15 22:52] stanmoore1 commented on #2
@kjhigdon do you have an input script for the N2 heat bath? That would be really helpful.

[2018-08-16 02:42] kjhigdon commented on #3
On a side note, a possible enhancement for the mean free path calculation would be to calculate the mean free path from the mixture definition. In the current calculation, a single reference species must be chosen in the input file. For a highly reactive flow, such as a hypersonic reentry case, the pre-shock and post-shock mixtures could be drastically different so choosing a single species could

[2018-08-16 14:30] kjhigdon commented on #2
This equilibrium case is set up for initializing N2 at 13,000 K. I included the output from when I ran it.

Again, I didn't clean it up too much so there might be some unnecessary steps in the input file. It still has the capability to be easily switched to a N2 - N relaxation/chemistry case which are also good benchmark tests. If you want to compare with some published relaxation benchmarks. The

[2018-08-21 18:04] aborner1 opened #8 "Collision mixture with ambipolar approximation: all vs species"
## Summary

Using "collide vss all" vs "collide vss species" greatly modifies the number of attempted collisions, to the point that the code loses a lot efficiency with "all".

## Type of Issue

Bug Report

## SPARTA Version

22Jun18

## Expected Behavior

Expect that the code speed would be comparable regardless of the mixture used to collide particles.

## Actual Behavior

20 times more collisio

[2018-08-24 23:20] sjplimp commented on #4
@aborner1 @stanmoore1 posted a PR today that treats the error properly, so about
to be merged

[2018-09-04 18:37] stanmoore1 commented on #4
Fixed by #9, closing #4.

[2018-09-04 18:37] #4 closed

[2018-10-11 19:52] aborner1 opened #13 "Equilibration issue when running with 1 cell"
## Summary

There seem to be a problem when running simple cases with one grid cell only (e.g. a simple relaxation to equilibrium).

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

22Jun18

## Expected Behavior (Bug Report)

When running relaxation case, the system should relax to the expected equilibrium temperature.

## Actual Behavior (Bug Report)

When running in 1 cell, the syst

[2018-12-10 23:23] aborner1 opened #26 "Tvib/grid wrong with multi-species mixture"
## Summary

The vibrational temperature computed by Tvib/grid is wrong in the case of a mixture contained both a polyatomic and an atom.

## Type of Issue

Bug Report

## SPARTA Version

10Dec18 (latest merge)

## Expected Behavior

For an equimolar mixture of O2 and O, the vibrational temperature of the the mixture and that of O2 should be equal.

## Actual Behavior

For an equimolar mixture of O

[2018-12-10 23:33] stanmoore1 commented on #26
@aborner1 this does look like a bug.

[2018-12-13 19:01] stanmoore1 commented on #26
@aborner1 I believe I fixed this in #27, can you double check?

[2018-12-13 19:48] stanmoore1 commented on #13
@aborner1 I see what you mean, but I have no idea what could cause this issue. Maybe @sjplimp or @mgallis can take a look.

[2018-12-13 20:08] stanmoore1 commented on #8
@aborner1 confirmed.

[2018-12-13 23:02] stanmoore1 commented on #5
I looked at this a little more. On this line:

https://github.com/sparta/sparta/blob/2c0383bad672941d6219ee7ea352c3ae7d9ef5f8/src/compute_tvib_grid.cpp#L405

`evib` equals 2, but the `t2s` array isn't that large (size = 2) and there is an out-of-bounds memory access. If the order of the computes in the input deck for `fix ave/grid` is swapped, then it works fine because `evib` is 0 instead of 2. @

[2018-12-13 23:44] aborner1 commented on #26
@stanmoore1 Can confirm the bug appears fixed for both serial and MPI runs, at least for the script that I submitted.

[2019-01-09 20:05] #26 closed

[2019-01-18 21:41] stanmoore1 commented on #6
This could also be implemented as a `fix`, and output to a file.

[2019-03-18 18:20] j-d-fuhr opened #49 "New relative velocity calculation in collide_vss.cpp"
## Summary

I think I found a bug in CollideVSS::SCATTER_TwoBodyScattering.
When the variable d defined in line 392 is lower than 1.0e-6, it means that the relative velocity in the x direction. The lines 400-402 calculates a wrong new relative velocity.

## Type of Issue

Bug Report

## Detailed Description (Enhancement Suggestion)
Correct code:

[code]

## SPARTA Version (Bug Report)

I checked t

[2019-03-22 16:44] stanmoore1 commented on #49
I see your point, but I'm still not 100% sure the code is right even with your changes. The if-test is to prevent division by zero when the variable `d` tends to zero, which means the relative velocities in the y and z directions are also tending to zero. If I first take the limit of `vy --> 0` followed by `vz --> 0` then I get your proposed changes. However, if I take the limit of `vz --> 0` firs

[2019-03-22 17:08] j-d-fuhr commented on #49
You're right that depending on which component (vy or vz) is first taken the limit to 0 one obtains a different solution. However if one considers that epsilon is a random number between 0 and 2pi, both solutions give the same final relative velocity distribution.

[2019-03-22 17:16] stanmoore1 commented on #49
Huh, good to know. This does look like a bug, I will submit a PR.

[2019-03-22 18:17] stanmoore1 commented on #49
I ran this change through the regression testing and it had zero effect on any of the examples, including those with collisions. So either this is a really rare code path, or it isn't captured in our tests. @j-d-fuhr do you have a test case that touches this code?

[2019-03-22 18:49] j-d-fuhr commented on #49
The condition d < 10^-6 is in fact very rare, for an isotropic system (the particles velocities have a random orientation) and a mean velocity of (400 m/s) only one on 10^9 collisions satisfy this condition. I would therefore not expect any significant effect.
I am implementing a homemade very simplified DSMC (homogeneous and isotropic) code for testing clustering algorithms and caught the bug whe

[2019-03-22 18:52] stanmoore1 commented on #49
OK, thanks for reporting the bug.

[2019-04-01 16:01] zhangh3 opened #55 "Question about the translation keyword of surf_collide command"
## Summary

Codes for the translation surface in the source file `surf_collide_diffuse.cpp` seems  not   correspond to the help documentation.
## Type of Issue

Bug Report
## SPARTA Version

sparta-22Jun18
## Expected Behavior

According to the  help documentation, SPARTA will add the surface velocity to the  final post-collisional velocity of each particle that collides with this surface after su

[2019-04-04 22:57] zhangchonglin opened #56 "fix move/surf bug"
## Summary

When running 3D simulation with fix move/surf command, the code crashed in the middle of the simulation.

## Type of Issue

Bug Report

## SPARTA Version

Sparta Version Feb-15 2019

## Expected Behavior
Perform "fix move/surf" for a 3D surface 10 times to rotate it 30 degrees; if run correctly, the operation should finish.

## Actual Behavior
When testing the "fix move/surf" for a 3D

[2019-04-10 15:23] stanmoore1 commented on #56
@zhangchonglin thank you for the detailed bug report. We'll take a look.

[2019-04-11 03:30] wlzx1993 opened #58 "The continuation problem,read_restart"
I wanted to use Sparta to continue calculation on the calculation example. Although the calculation file was successfully output, the error <Found no restart file matching pattern> always appeared in the process of re-reading the file.

   I would like the developer to be able to answer questions in the Sparta manual about continuation, preferably with a continuation script in the examples folder.

[2019-04-11 19:18] #49 closed

[2019-04-11 20:11] stanmoore1 commented on #58
@wlzx1993 can you ask this question on the SPARTA mail list instead? https://sparta.sandia.gov/mail.html. There are more SPARTA users there to help, and we want to keep GitHub issues for code bugs and code enhancement requests. Thanks

[2019-04-11 20:13] #58 closed

[2019-04-15 15:43] stanmoore1 commented on #56
I can reproduce this on a single MPI rank, it crashed at 4270 timesteps. @sjplimp can you take a look?

[2019-04-15 16:07] stanmoore1 commented on #56
Here is a full gdb stack trace:

[code]

[2019-04-16 18:11] j-d-fuhr opened #64 "Random vibrational energy generation"
## Summary

In the function Particle::evib in particle.cpp, when the number of vibrational degrees (vibdof) is greater than 2, there is a hardcode energy cut-off of 10 kT in the vibrational energy sampling. This cut-off is too small when vibdof is large.

## Type of Issue

Bug Report

## Detailed Description (Enhancement Suggestion)

If one considers a molecule with a rather high number of vibrati

[2019-05-30 20:29] stanmoore1 opened #76 "DSMC 2019 Conference, September 22nd-25th, Santa Fe, NM"
The DSMC19 workshop will be held in Santa Fe, New Mexico, USA, on September 22-25, 2019. Like the highly successful biannual workshops in 2003-2017, this workshop will again bring together outstanding DSMC researchers from around the world. For more info see https://www.sandia.gov/dsmc/index.html

As in previous years, a half-day short course on the DSMC method will be offered on Sunday afternoon,

[2019-08-12 13:24] ravirajawasthi17 opened #82 "use of surf2paraview.py code provided for visualizing sparta output files"
I've downloaded SPARTA recently from the website sparta.sandia.gov and I've been trying to use the surf2paraview.py utility present in it. It has following two utilities-

1> visualizing the surface created (by pizza.py) in paraview.

2> visualizing the results obtained (shear stress, pressure etc.) on the surface in paraview from the corresponding sparta output file.

The first utility is working

[2019-08-16 23:08] liransll opened #83 "Feature request: allow the prob_destroy in surf_react_global to be equal style variables"
I wish that the _pdelete_ argument used in _surf_react global_ command can be a variable.

This feature can be very useful when one wants to control the number density near a global boundary. The probability of delete can be set to increase with the local number density so that more particles will be removed when the density is higher.

Best regards,

Ran

[2019-09-13 22:56] stanmoore1 opened #92 "Variables don't work with region command"
## Summary

Variables don't work with region command, it always reads the value of 0.0. For example, if I use this

`region myreg block v_undefvar INF INF INF INF INF`

No matter the value of `v_undefvar` or even if it is undefined, it still reads a value of 0.0 and doesn't throw an error.

[2019-09-25 16:59] #76 closed

[2019-10-09 23:42] aborner1 commented on #7
@stanmoore1 I just reproduced this bug with the latest master and it still hangs and returns the Cut3d message.

[2019-10-10 11:38] stanmoore1 commented on #7
@sjplimp can you take a look?

[2019-10-14 17:20] sjplimp commented on #92
The region command has no support for varaibles of the form v_foo.
Not mentioned on the doc page.  LAMMPS has this option, but I don't
know that it makes sense for SPARTA.  The no error with v_foo is
b/c the code is just calling atof() which would return a 0.  It needs
to call input->numeric(), which will trigger an error.

[2019-11-14 21:35] aborner1 commented on #6
This has been implemented by @sjplimp in #99 @stanmoore1

[2019-11-14 21:35] #6 closed

[2019-12-13 19:28] stanmoore1 opened #105 "Read_surf calls unititialized Modify"
## Summary

`read_surf.cpp:199` calls `grid_surf:903` which calls `modify:213`. The issue is that the Modify class is only initialized for a `run` command, not for `read_surf`, so `n_pergrid` is uninitialized leading to segmentation fault crash.

[2019-12-17 22:27] GavrilenkovRK9 opened #107 "Feature request: please provide a tutorial how to build SPARTA on windows"
## Summary

Please provide a tutorial on how to build SPARTA on windows

## Type of Issue

Feature request

## Detailed Description
Could you please make a tutorial how to build SPART on windows.
I figures out how to start cygwin, but when I type in make %machine% I just get a bunch of errors like "name_of_file.cpp->name_of_file.d - command not found"
Maybe I am choosing wrong type of %machine%

[2020-01-08 00:47] stanmoore1 commented on #105
Fixed by #110

[2020-01-08 00:47] #105 closed

[2020-02-04 10:01] jborgida opened #121 "Cut2D error"
## Summary

Singlet CLINES point not on cell border

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Newest Version downloaded in Jan 2020

## Expected Behavior (Bug Report)

"This is an error when calculating how a 2d grid is cut or split by surface elements. It should not normally occur. Please report the issue to the SPARTA developers."

## Actual Behavior (Bug Report)

Tried to r

[2020-02-06 01:15] aborner1 opened #123 "Ambipolar bug"
## Summary

When running the "ambi" example with current master, the temperature eventually reaches unphysical values.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Current master (as of Feb. 4th 2020), but has been reproduced with versions going as far back as 5Sep18. Version 22Jun18 shows correct results. Bug was introduced by 2b038d8 .

## Expected Behavior (Bug Report)

The on

[2020-02-06 01:16] aborner1 commented on #123
@sjplimp @stanmoore1 I can help debug this if you'd like.

[2020-02-06 01:26] aborner1 commented on #123
Serial:
Step CPU Np Natt Ncoll Nsreact c_temp c_10[6] c_10[7] c_10[8] c_10[9] c_10[10] c_10[11]
       0            0   128584        0        0        0    180620.56            0            0            0            0            0            0
     100   0.56274319   128521      880      597        0     178379.3            0            0            0            0            0            0
     2

[2020-02-06 23:27] aborner1 commented on #123
Actually, if the case is ran long enough (> 1000 steps), the bug will appear for any number of ranks (even serial).

[2020-02-07 00:09] aborner1 commented on #123
As far as I can tell, the bug was introduced with version 5Sep18, as version 22Jun18 looks to give correct results.

[2020-02-07 00:36] aborner1 commented on #123
Bug was introduced by SHA-2b038d8

[2020-02-07 00:49] aborner1 commented on #123
Bug can be bypassed if "relax" keyword is set to "constant" instead of "variable".

[2020-02-07 01:03] aborner1 commented on #123
The bug is due to the following modification in react_bird.cpp:

// added MAX() limit, 24Aug18
tgamma(z+2.5-omega) / MAX(1.0e-6,tgamma(z+r->coeff[3]+1.5));

going back to
tgamma(z+2.5-omega) / tgamma(z+r->coeff[3]+1.5);

solves the problem.

[2020-02-07 01:32] aborner1 commented on #123
The following reactions should be commented out of the air.tce file as their temperature exponent is below -1.5, which causes the gamma function to have a native argument, which is not acceptable for the TCE model:

N2+ + O --> N2 + O+
E A 0.0 0.000 4.118e-11 -2.2 1.148e-19

O + e --> O+ + e + e
I A 0.0 2.188e-18 6.4761E3 -3.78 -2.188e-18

N + e --> N+ + e + e
I A 0.0 2.322e-18 4.1513E4 -3.82 -2.3

[2020-02-11 23:33] zhangchonglin commented on #123
@aborner1 I think I encountered similar issue as you did and reported it here: https://github.com/sparta/sparta/pull/10#discussion_r243719589

[2020-02-11 23:35] aborner1 commented on #123
@zhangchonglin Yes, I agree. I think it is solved, I will push an update very soon.

[2020-02-11 23:36] zhangchonglin commented on #123
@aborner1 Thanks for the confirmation and fix!

[2020-03-02 03:09] realprivate opened #131 "Problems with SPARTA codes for the rotational relaxation process"
## Summary

There may be a possible bug in SPARTA codes for rotational relaxation. (in "collide_vss.cpp")

## Type of Issue

Physics bug

## Detailed Description (Enhancement Suggestion)

In "collide_vss.cpp", when the rotational degrees of freedom of the choosing particle is 3, the code uses the function "sample_bl()" to do the B-L process, but it only uses the omega of the selected particle (par

[2020-03-14 10:25] fkk123 opened #136 "error: Singlet BPG edge not on cell face"
## Summary

When reading surf file, this "Singlet BPG edge not on cell face" error occurred. However, it will be no error if I change the angle or origin point when read in the surf.
In SPARTA Users Manual, it is said that "Singlet BPG edge not on cell face :......Please report the issue to the SPARTA developers. " ,and that is why I report it.

## Type of Issue

Bug Report

## SPARTA Version (Bug

[2020-03-14 10:26] fkk123 opened #137 "error: Singlet BPG edge not on cell face"
## Summary

When reading surf file, this "Singlet BPG edge not on cell face" error occurred. However, it will be no error if I change the angle or origin point when read in the surf.
In SPARTA Users Manual, it is said that "Singlet BPG edge not on cell face :......Please report the issue to the SPARTA developers. " ,and that is why I report it.

## Type of Issue

Bug Report

## SPARTA Version (Bug

[2020-03-14 10:27] #136 closed

[2020-03-20 17:13] #123 closed

[2020-04-25 17:26] zhangchonglin opened #143 "Why check_neighbor_norm_2d/3d return before perform surface norm check"
## Summary

_Why in `read_surf.cpp` files, functions `check_neighbor_norm_2d/3d` return before perform surface norm check_

## Type of Issue

_Queston_

## Detailed Description
I am looking at the `read_surf.cpp` file. I noticed in both [check_neighbor_norm_2d](https://github.com/sparta/sparta/blob/f7399fb3d7f7be3a8c7dadf3fe968c163c83100d/src/read_surf.cpp#L2126) and [check_neighbor_norm_3d](https

[2020-05-05 14:38] zhangchonglin opened #148 "Duplicate sentences in Fix_balance documentation"
## Summary

Duplication in `Fix_balance` command documentation

## Type of Issue

_`Suggestion for an Enhancement`_

## Detailed Description

Looking at the documentation of `fix_balance` command, there seems to be some duplicate sentences in `fix_balance` document, as below:

https://github.com/sparta/sparta/blob/5b6c647c2ef2b58f07fd0748679b66aaa3c096a6/doc/fix_balance.html#L130-L151

## SPARTA V

[2020-05-09 16:49] aborner1 opened #150 "Particle sent to self error"
## Summary

Frequent encounter of the "Particle sent to self" error in axisymmetric calculations.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Current master but not a new bug.

## Expected Behavior (Bug Report)

For axisymmetric simulations, I as well as other collaborators have frequently encountered the "ERROR on proc xxx : Particle xxxx on proc xxx being sent to self on step

[2020-05-13 14:50] zhangchonglin opened #151 "May 7 release read_restart crashed with more than 1 process"
## Summary

_In May 7 release, the `read_restart` command crashed during restart file reading_

## Type of Issue

_Bug Report_

## Detailed Description

Running the `May 7` release with the `circle` example (slightly modified to write and read restart file) in the `examples` folder, the code crashed when reading the restart file, with the following error message:

[code]

The code crashed with 4 p

[2020-05-13 14:58] stanmoore1 commented on #151
The latest patch broke restart backwards compatibility in order to support writing restart files larger than 2 GB per MPI rank. However, it looks like you are writing and then reading with the same version of the code, so perhaps a bug was introduced. I'll take a look.

[2020-05-13 15:10] stanmoore1 commented on #151
I can reproduce this issue, should have a fix soon.

[2020-05-13 15:13] zhangchonglin commented on #151
Thanks for the quick confirmation!

[2020-05-13 16:06] zhangchonglin commented on #151
Thanks for the quick fix. I can confirm the crash issue is fixed now.

[2020-05-13 16:08] #151 closed

[2020-05-13 17:36] cal-miller-harvard opened #153 "Allow non-integer n in fix emit/surf and fix emit/face command?"
## Summary

Right now, fix emit/surf and fix emit/face with the n keyword add a fixed number of particles each timestep, but first coerces the number to an integer (and crashes if n < 1). It would make the code more flexible if n were treated like M is: "If M has a fractional value, e.g. 12.5, then 12 particles are added, and a 13th depending on the value of a random number." In particular, this w

[2020-05-13 18:13] stanmoore1 commented on #151
I found one other related issue with the limited memory version, will include that in the PR as well. Thank you for reporting this issue and providing a example that reproduced the issue.

[2020-05-13 21:17] stanmoore1 commented on #150
In a different code, we also had issues with axisymmetric. It seems to be more prone to round error issues. @sjplimp and @mgallis, what do you think?

[2020-05-15 20:50] aborner1 opened #158 "One line bug in compute_tvib_grid leading to wrong discrete vibrational temperature"
## Summary

In current master, the output from the tvib/grid for the "vibrate" example is extremely different from the log file that is provided in the folder.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Current master https://github.com/sparta/sparta/commit/d5d1fda8e2d4b666dd862d31d7680ddaca77c797

## Expected Behavior (Bug Report)

The discrete vibrational temperature should b

[2020-05-15 21:38] aborner1 commented on #158
It appears https://github.com/sparta/sparta/commit/c60d3e6d0b70d7a47264d0044a12a2c467aba8df was correct but the next release https://github.com/sparta/sparta/releases/tag/5Sep2018 was not. So it's been wrong for a long time!

[2020-05-15 21:53] aborner1 commented on #158
Release 4Jan19 https://github.com/sparta/sparta/commit/4620a1dd008d81aef99d1e605610f231422634e6 was correct but the following one 15Feb19 https://github.com/sparta/sparta/commit/f1a0341ce13a6636cd1e517a57faac1bd46d8b0c was wrong.

[2020-05-15 21:59] aborner1 commented on #158
[in-N2-tvib.txt](https://github.com/sparta/sparta/files/4637283/in-N2-tvib.txt)

[2020-05-15 22:05] aborner1 commented on #158
[log-15Feb19.txt](https://github.com/sparta/sparta/files/4637302/log-15Feb19.txt)
[log-4Jan19.txt](https://github.com/sparta/sparta/files/4637303/log-4Jan19.txt)
[in-N2-tvib.txt](https://github.com/sparta/sparta/files/4637304/in-N2-tvib.txt)

[2020-05-15 22:06] aborner1 commented on #158
The vibrational energy e_vib appears identical in outputs from both code versions, so the problem comes from the computation of the discrete vibrational temperature in tvib/grid.

[2020-05-15 22:31] aborner1 commented on #158
However, we still need to exclude atoms from the calculation, therefore:
      if (particles[i].evib == 0) continue;
      ispecies = particles[i].ispecies;
should be replaced by:
      ispecies = particles[i].ispecies;
      if (!(species[ispecies].vibdof)) continue;

[2020-05-19 19:41] stanmoore1 commented on #158
Pretty sure our regression tests caught this (I have the N2 test in the suite) but I though the change was a bugfix so I just re-blessed the test.

[2020-05-28 19:54] aborner1 commented on #158
The other line that was added for multimode (polyatomic)
https://github.com/sparta/sparta/blob/7c54323a63ae77239771b01efc975fc0c60ffcd5/src/compute_tvib_grid.cpp#L320
also needs to be removed in order for CO2 to relax properly.

[2020-05-28 20:57] aborner1 commented on #158
Actually, this only works for case where there are only polyatomics, or no polyatomic at all. If diatomic and polyatomic (i.e. N2 and CO2) are mixed, the current approach does not work anymore and the vibrational temperature is wrong. I am afraid tvib/grid will have to be somewhat rewritten, the modeflag=0/1/2 does not seem to work in my opinion.

[2020-05-28 22:33] aborner1 commented on #158
The following code, although it could probably be written more elegantly, fixes the problem:

[compute_tvib_grid_cpp.txt](https://github.com/sparta/sparta/files/4698633/compute_tvib_grid_cpp.txt)

[2020-06-13 13:25] aklothakis opened #162 "Cellmax is not saved in the restart file if changed by user"
## Summary

Cellmax variable is not saved and cannot be read by the read_restart function if user changes it.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Latest version downloaded from Github

## Expected Behavior (Bug Report)

The code should be able to restart if the user sets the global cellmax variable to a value different than 100.

## Actual Behavior (Bug Report)

When you

[2020-06-13 13:28] aklothakis commented on #162
When i change the value of maxcellpersurf manually in the grid.cpp file the code runs and restarts fine but when set in the input script it doesn't

[2020-06-15 22:36] sjplimp commented on #158
@aborner1 Are you saying the new attached file now works for all modes = 0/1/2,
and for mixtures, e.g. N2 + CO2 ?
@stanmoore1 What does the history say about who/why changed this
from working to non-working?  Possibly me, but I don't recall it

[2020-06-15 22:46] aborner1 commented on #158
@sjplimp That's correct, I do believe it now works for all cases. But I think there is a more elegant way to write the code, I took some shortcuts to make it work.

Also, looking back at the history, I do believe you made the change. I believe the goal was to exclude was to exclude atoms (evib = 0), but it is actually possible for molecules to have a zero vibrational energy in the discrete model,

[2020-06-15 23:30] sjplimp commented on #158
@aborner1 ok - I will make a couple small edits and submit it as a PR - thanks for figuring
out this issue

[2020-06-15 23:34] sjplimp commented on #158
@aborner1 please check the latest PR and verify it is correct

[2020-06-16 02:50] stanmoore1 commented on #158
Fixed by #165. Closing #158.

[2020-06-16 02:50] #158 closed

[2020-06-16 14:47] stanmoore1 commented on #162
I can't seem to reproduce this. Are you sure your `global cellmax` command is *before* the `read_restart` command?

[2020-06-16 14:56] stanmoore1 commented on #162
[in.sphere_start.txt](https://github.com/sparta/sparta/files/4787301/in.sphere_start.txt)
[in.sphere_restart.txt](https://github.com/sparta/sparta/files/4787302/in.sphere_restart.txt)

Here are the two input files I used to test. If I don't set the cellmax then I get this error:

[code]

So I used `global cellmax 300`.

[2020-06-16 15:12] stanmoore1 commented on #162
Just to clarify, the `global cellmax` command isn't stored by the restart file, so it has to be set again, before the `read_restart` command.

[2020-06-16 15:26] #148 closed

[2020-06-16 15:29] stanmoore1 commented on #150
I talked to @sjplimp about this and he would like to understand *why* this is happening. @aborner1 do you have a reproducer input script?

[2020-06-16 15:31] stanmoore1 commented on #153
This seems like a reasonable enhancement to me.

[2020-06-16 15:32] aborner1 commented on #150
I only have large cases that reproduce it, I would need to see if I can generate something small that ideally can be run on a small number of procs, otherwise it's going to be a nightmare to debug.

[2020-06-16 15:35] stanmoore1 commented on #148
@zhangchonglin thanks for reporting.

[2020-06-16 15:36] stanmoore1 commented on #143
Looking at the comments above, I think this code needs additional work and is a placeholder for future work that hasn't yet been completed. @sjplimp could comment better.

[2020-06-16 16:05] stanmoore1 commented on #137
I can reproduce this, even on a single MPI rank. Here are the files:

[geo.dat.txt](https://github.com/sparta/sparta/files/4787690/geo.dat.txt)
[in.error.txt](https://github.com/sparta/sparta/files/4787692/in.error.txt)

[2020-06-16 16:06] #143 closed

[2020-06-16 16:08] stanmoore1 commented on #162
@aklothakis I'm going to close this issue since I can't reproduce it, but please let us know if you have more info on this.

[2020-06-16 16:09] stanmoore1 commented on #150
@aborner1 I have assigned this issue to you. Once we have a reproducer I will reassign it to @sjplimp. Thanks.

[2020-06-16 16:25] stanmoore1 commented on #107
@GavrilenkovRK9 can you please repost this on the SPARTA users mail list (see https://sparta.sandia.gov/mail.html)? I think you would get a better response there. Thank you.

[2020-06-16 16:25] #107 closed

[2020-06-16 16:31] stanmoore1 commented on #131
@realprivate thanks for reporting. I've asked @mgallis to take a look at this.

[2020-06-16 16:39] stanmoore1 commented on #121
@jborgida thanks for reporting. I went to that dropbox link, but I can't find any SPARTA files. Can you point me to the right directory in dropbox?

[2020-06-16 16:43] stanmoore1 commented on #82
@ravirajawasthi17 we are going to need more info on this issue. Do you get an error message or how are you "not able to do it"? @tjotaha is the SPARTA paraview expert. Also you would probably get a better response if you post this question on the SPARTA users mail list instead of Github, see https://sparta.sandia.gov/mail.html. Thank you.

[2020-06-16 16:45] stanmoore1 commented on #56
@zhangchonglin do you know if this is still an issue with the latest version of SPARTA?

[2020-06-16 16:47] stanmoore1 commented on #2
@aborner1 is this issue now fixed?

[2020-06-16 16:52] stanmoore1 commented on #7
@aborner1 did #97 fix this issue?

[2020-06-16 17:24] zhangchonglin commented on #56
@stanmoore1: Thanks for checking! I just checked with the latest commit: e7b60e6, it seem the bug is still there. The code still crashed, although at a slightly earlier time step (time step 4000 for my run with the same input file, corresponding to the first surface rotation time step):

[code]

[2020-06-16 17:59] aklothakis commented on #162
Hello there and thank you for your fast response. In the Manual page 321 says that the read_restart command stores global settings. If you check the read_restart.cpp and write_restart.cpp code you can see that indeed the global settings are saved apart from the cellmax setting.

In order to be able to reproduce the issue try restarting the code without the global command (global commands shouldn't

[2020-06-16 18:09] stanmoore1 commented on #162
OK I see what you are saying now. The `surfmax` variable is stored in the restart file but `cellmax` is not. There are probably other global commands not included as well, like `mem/limit` and `particle/reorder`.

[2020-06-16 18:17] aklothakis commented on #162
Ok i see... I will have a look at them too. In the pool request i have changed the appropriate lines in the code to include the cellmax. Tested it for a several timesteps and it seems to be working. I haven't tested it extensively though.

If you have any specific tests in mind let me know and i will perform them.

I have attached the "modified" restart to reproduce the issue.

Thanks again.

[in.

[2020-06-16 18:22] stanmoore1 commented on #162
Here are the global commands that are missing from the restart file:

- surfs
- surfgrid
- cellmax
- splitmax
- surftally
- surfpush
- particle/reorder
- mem/limit

[2020-06-16 18:30] aklothakis commented on #162
Thank you i will have have a look at them and i will submit a pull request when i have something ready.
Meanwhile tested the cellmax for my case for several thousand timesteps now with 200 cores and is still working.....

[2020-06-16 18:31] stanmoore1 commented on #162
Thanks for reporting and working on this. I can help out as well if needed.

[2020-06-16 18:44] #82 closed

[2020-06-16 18:49] stanmoore1 commented on #55
@zhangh3 do you have a reproducer input deck that shows incorrect or unexpected behavior for this case?

[2020-06-18 19:00] aborner1 opened #167 "Issues in surf_collide_diffuse"
## Summary

SVN commit 2410 introduced a bug in surf_collide_diffuse for cases where the accommodation coefficient is < 1.0. Also, the vibrational energy assignment post surface collision is not handled properly for discrete vibrational energies (modes are not populated).

## Type of Issue

Physics issue

## SPARTA Version (Bug Report)

Current master since SVN commit 2410.

## Behavior (Bug Repor

[2020-06-19 00:45] aborner1 commented on #167
Additionally, the post surface collision energy assignment is not handled properly for discrete vibrational energies.
The following line
https://github.com/sparta/sparta/blob/e7b60e67fbfecf6db8bfd631bad186d8780b31f0/src/surf_collide_diffuse.cpp#L167
should be replaced by:
  if (ip) {
     diffuse(ip,norm);
     if (modify->n_add_particle) {
      int i = ip - particle->particles;
      modify->add

[2020-06-19 00:55] aborner1 commented on #2
No, the current LB scheme permitting double relaxation + variable rotational relaxation still does not reach equilibrium.

[2020-07-13 15:31] #5 closed

[2020-07-19 03:10] cal-miller-harvard opened #175 "Make fnum per species instead of global"
## Summary

Allow species or mixture commands to set independent fnums (physical particles per real particle).

## Type of Issue

Suggestion for an Enhancement

## Detailed Description (Enhancement Suggestion)

For simulating mixtures of gases with significantly different densities of the components, a global fnum is inefficient, since many more simulated particles of the denser gases than would o

[2020-07-20 20:48] aborner1 opened #176 "Using ambipolar species as third bodies in dissociation or recombination reactions"
## Summary

Turn on the ability to use ambipolar species third body in dissociation or recombination reaction.

## Type of Issue

Suggestion for an Enhancement

## Detailed Description (Enhancement Suggestion)

With the new ambipolar reaction patch added, it seems like ions should be able to be used as third bodies for both dissociation and recombination reactions. However, the code does not allow

[2020-07-28 13:59] sjplimp commented on #167
@aborner1 We agree on the first issue - will push a PR for that.  Not clear on the 2nd issue
you raise.  Are you saying something different should be done for particle I if particle J
exists?  Not something different to particle J (versus what is already done?)

[2020-07-28 14:02] sjplimp commented on #167
@aborner1 Figured out a better way to ask my Q.  Why should modify->add_particle()
be invoked for particle I when it already existed before the surface collision?
That call is to trigger fixes to do something b/c there is a new particle added.
It is only the J particle that was added.

[2020-09-04 08:08] realprivate opened #187 "Inelastic collision problems in SPARTA code"
## Summary

The issue discusses the inelastic collision bugs in SPARTA code, and it also puts forward a proposal for the code improvement.

## Type of Issue

Report bugs, and also give an enhancement suggestion

## Detailed Description (Enhancement Suggestion)

Up to now, there are still some bugs in SPARTA code (most probable in collide_vss.cpp) about the inelastic collision process. For instance

[2020-09-08 06:03] realprivate commented on #187
I think one possible reason about the error caused by "relax variable" setting is that, the SPARTA uses Parker model to calculate the variational rotational relaxation number, but the characteristic temperature Tr used in the calculation is the characteristic temperature of the "selected collision pair". According to the book of Boyd et al (2017), the Tr used in this calculation should be a cell-b

[2020-09-28 10:36] kzmrczk opened #188 "SPARTA compatible with Python 3"
## Summary

At the moment SPARTA is compatible with Python 2.7. Compatibility with latest versions of Python 3 might greatly improve post-processing efficiency.

## Type of Issue

Suggestion for an Enhancement

## Detailed Description (Enhancement Suggestion)

Given that Python 2.7 reached end of life in January 2020, making SPARTA compatible with Python 3 might improve efficiency of the code wrap

[2020-09-28 14:41] stanmoore1 commented on #188
The ParaView scripts were updated to support Python 3 last April: https://github.com/sparta/sparta/pull/144. Is there something else needs to be updated?

[2020-10-28 15:33] aborner1 opened #191 "Reaction count breakdown at the end of run does not update when doing multiple runs"
## Summary

When doing more than one run, the count of gas reactions at the end of the output file always outputs the count from the first run.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Latest master

## Expected Behavior (Bug Report)

The surface reactions count is updated properly, but the gas reactions count is not and always displays the values from the first run.

[2020-11-19 19:11] stanmoore1 commented on #150
This issue is possibly fixed by #194, @aborner1 can you confirm?

[2020-11-19 19:23] aborner1 commented on #150
@stanmoore1 Will test the new code on large axisymmetric simulations. It wasn't something I could reproduce, so I will never be able to fully confirm, but unless the error reappears, I agree that this sounds like a logical fix.

[2020-11-19 19:28] stanmoore1 commented on #150
Sounds good. We used `fix check grid/check 1 error` to debug #194, that is a good option to turn on if you are seeing issues.

[2020-11-19 19:32] stanmoore1 commented on #150
And `global comm/sort yes` so it is reproducible.

[2020-11-20 17:21] stanmoore1 commented on #188
I'm closing this issue due to inactivity, please feel free to comment again or reopen a new ticket if the issue isn't solved.

[2020-11-20 17:21] #188 closed

[2020-11-20 17:38] stanmoore1 commented on #1
I just tested again and this issue has been fixed already. Closing #1.

[2020-11-20 17:38] #1 closed

[2020-11-20 18:46] stanmoore1 commented on #7
This still fails with latest master:

[code]

[2020-11-20 18:47] stanmoore1 commented on #55
Closing due to lack of activity, please reopen a new issue if necessary.

[2020-11-20 18:47] #55 closed

[2020-11-20 18:48] stanmoore1 commented on #56
@zhangchonglin there is a high chance this was fixed by #199, can you check again?

[2020-11-20 18:49] zhangchonglin commented on #56
Just checked the issue with this commit: 49ef4dd, the issue is fixed. Thanks Stan @stanmoore1

[2020-11-20 18:49] #56 closed

[2020-11-20 18:50] stanmoore1 commented on #56
Great, thanks!

[2020-11-20 18:53] stanmoore1 commented on #121
@jborgida I was not able to get your files to reproduce this, can you upload them to this issue?

[2020-11-20 19:03] stanmoore1 commented on #167
@sjplimp @aborner1 did this get fixed, or is there still a remaining issue?

[2020-11-20 19:04] stanmoore1 commented on #150
@aborner1 I'm going to close this issue, but please reopen a new issue if you see the "Particle sent to self error" again.

[2020-11-20 19:05] stanmoore1 commented on #137
Possibly related to #7.

[2020-11-20 19:06] stanmoore1 commented on #131
@realprivate was this fixed by #28?

[2020-11-20 19:16] aborner1 commented on #7
Can confirm this as well as "No positive volumes in cell" error (which I believe is related) still happen with the latest master. This is the easiest reproducer case I have ever created for this problem.

[2020-11-20 19:20] aborner1 commented on #175
Isn't this what species weight does?

[2020-11-20 19:39] stanmoore1 commented on #191
I can reproduce this.

[2020-11-20 23:18] stanmoore1 commented on #7
@aborner1 this appears to be a numerical precision issue. You are getting a triangle that is too small to be numerically meaningful. This seems to be from the sphere just barely touching the box bounds in the y and z directions, which makes four minuscule triangles:

[code]

If I push out the box bounds by epsilon then it works fine:

[code]

[code]

[2020-11-20 23:21] sjplimp commented on #7
@aborner1 @stanmoore1 Alternatively does the problem go away if the sphere is translated by an epsilon different amount so that the clipping does not produce any tiny triangles?  I wonder if there is a better way to clip to avoid epsilon-size triangles?

[2020-11-21 16:02] timteichmann opened #203 "cut2d error on transverse line"
## Summary

Currently when trying to run SPARTA in 2d with very simple geoemtries that have surf lines not aligned with the grid, the simulation will instantly crash with the error :` ERROR on proc 0: LP: No positive areas in cell (../cut2d.cpp:441)`.

## Type of Issue

**Bug Report**

## SPARTA Version (Bug Report)

20Nov2020 (happens for July version as well though)

## Expected Behavior (Bug Re

[2020-11-23 15:18] stanmoore1 commented on #7
@sjplimp yes translating the sphere by epsilon also works:

[code]
[code]

[2020-11-23 15:22] stanmoore1 commented on #7
Translating the other way still makes tiny triangles but they are larger than epsilon, so it succeeds because it has enough numerical precision to do the calcs:

[code]
[code]

[2020-11-23 15:23] stanmoore1 commented on #203
Probably related to #7 and #137.

[2020-11-23 16:59] stanmoore1 commented on #203
If I push out one of the points by epsilon, then it runs fine:

[code]

[code]

[2020-11-23 17:48] timteichmann commented on #203
Yeah, but for more complex cases this can be quite annoying, especially as it is not straightforward to identify all the points that create conflicts beforehand. Is there any way the code could be improved to better deal with these cases? Apparently they do occur rather frequently? I guess it would also be fine if SPARTA did automatically try to resolve these edge cases by pushing the points sligh

[2020-11-23 18:06] stanmoore1 commented on #203
We are still debugging this (I wasn't suggesting shifting the points as a final solution but rather an debugging observation), will keep you posted.

[2020-11-23 19:22] stanmoore1 commented on #203
These changes also allow it to run:

[code]

[2020-11-23 19:22] stanmoore1 commented on #203
So it is a numerical precision issue.

[2020-11-23 20:31] timteichmann commented on #203
Thanks for the update!

[2020-11-23 21:05] stanmoore1 commented on #121
Probably related to #7. Don't have a reproducer, so closing for now. Please reopen a new ticket if necessary.

[2020-11-23 21:05] #121 closed

[2020-11-24 14:09] realprivate commented on #131
Yes, I think so, because for the latest SPARTA version, the ω used in the function sample_bl() is "params[ip->ispecies][jp->ispecies].omega", which is specified for the collision pair.

[2020-11-24 15:01] stanmoore1 commented on #131
OK thanks.

[2020-11-24 15:01] #131 closed

[2020-11-24 21:54] aborner1 opened #204 "Grid2paraview.py is not ready for new grid structure with no parents"
## Summary

Grid2paraview.py is not ready for new grid structure with no parents if reading from a grid file.

## Type of Issue

Bug Report

## SPARTA Version

20Nov20

## Expected Behavior

Grid2paraview.py should run without issues.

## Actual Behavior

Error message:
Traceback (most recent call last):
  File "grid2paraview.py", line 1290, in <module>
    find_chunking(chunking, grid_desc, args)

[2020-11-27 15:51] timteichmann commented on #175
A quick grep shows that species weight (`specwt`) is currently not used at all:
[code]
You can set it but it won't affect any computations. I guess this was added to the file format but the implementation never pursued?

[2020-12-03 02:15] zhangchonglin opened #209 "Nov 20 release, restart simulation crashed with transparent surface"
## Summary

In `November 20` release, the combined `transparent` surface and `read_restart` caused code to crash at the beginning of a restarted simulation.

## Type of Issue

Bug report

## Detailed Description (Enhancement Suggestion)

Running the `November 20` release with the circle example (modified to write and read restart file, and also try the transparent surface feature) in the examples

[2020-12-03 09:34] azacharos commented on #204
I had the same issue

[2020-12-07 00:59] aborner1 commented on #150
@stanmoore1 @sjplimp I just encountered this error on a 3D run. So it is definitely still an issue in some cases. Hard to reproduce, as, once again, it happens on a large simulation after a few hours. Can a similar bug fix be implemented for 3D?

[2020-12-07 15:07] stanmoore1 commented on #150
There is no analogue for that axisymmetric issue in 3D, i.e. we tried in straight 2D and it works fine when a particle lands on the boundary.

Here is how I would recommend debugging this issue:

- Turn on `global comm/sort yes` so the runs are reproducible
- Turn on `fix check grid/check 1 error` to better diagnose grid cell problems
- Write out a restart file periodically, say every 10,000 steps

[2020-12-17 19:31] stanmoore1 commented on #204
Fixed by #212, closing #204.

[2020-12-17 19:31] #204 closed

[2020-12-17 19:33] stanmoore1 commented on #209
@zhangchonglin sorry for the delay. Just to check, are you reading a restart file generated by the old code, or an old restart file from the previous version? The latest release broke restart backwards compatibility, so the latter is expected to crash.

[2020-12-17 19:56] stanmoore1 commented on #209
I tried the reproducer. With no transparent surfaces, it runs fine. With transparent surfaces, I get `ERROR on proc 0: Collision cell volume is zero (../collide.cpp:482)` after reading in the restart file:

[code]

[2020-12-17 20:22] stanmoore1 commented on #209
I talked to @sjplimp and we agree that the transparent flag should be included in the restart file. I'll submit a PR.

[2020-12-17 21:34] zhangchonglin commented on #209
Thanks Stan! @stanmoore1. I noticed in your PR #213, you added transparent flag to 2d simulation case (lines). Should you also do that for 3d  simulation case (triangle surfaces)?

[2020-12-17 21:42] stanmoore1 commented on #209
@zhangchonglin Yes, I totally forgot that, thanks!

[2020-12-27 11:48] azacharos opened #215 "Adaption fails with segmentation error"
## Summary

I tried to adapt a two level grid and the code returns segmentation error.

## Type of Issue

Bug Report

## Detailed Description (Enhancement Suggestion)

## SPARTA Version (Bug Report)

It appears on both latest stable versions (20Nov2020).

## Expected Behavior (Bug Report)

It is expected to refine the grid.

## Actual Behavior (Bug Report)

I tried the "static" option with the ada

[2021-01-01 02:42] zhangchonglin opened #216 "Adapt_grid stuck when running with GPU"
## Summary

_When running a test problem with AMR (using `adapt_grid`) and `GPU` (by enabling `KOKKOS`) support, simulation stuck during the first mesh adaptation (command `adapt_grid`). Using the same input script with only `CPU` (different executable), the simulation run fine with several mesh adaptations. Is grid adaptation (through `adapt_grid`) supported with `KOKKOS` GPU?_

## Type of Issue

[2021-01-04 15:46] stanmoore1 commented on #216
@zhangchonglin Using `adapt_grid` with Kokkos should work. Thanks for the reproducer, I'll take a look.

[2021-01-04 15:55] stanmoore1 commented on #215
Hi @azacharos thanks for the bug report. Can you please attach the files needed to reproduce this issue? (The smaller the better).

[2021-01-04 16:47] azacharos commented on #215
Hi,
I attached the zip file that contains a smaller case that appears the same problem after 5000 time steps.
I am using the mpi version of the code with the flag DSPARTA_BIGBIG on 12 cpu cores.

[2021-01-04 16:48] stanmoore1 commented on #215
Thank you, I'll take a look.

[2021-01-04 16:50] stanmoore1 commented on #216
On the GPU, I see the error:

[code]

[2021-01-04 20:26] stanmoore1 commented on #216
@zhangchonglin this issue should be fixed by #217, can you confirm?

[2021-01-04 20:40] zhangchonglin commented on #216
Thanks Stan @stanmoore1! I can confirm this issue is fixed with #217.

[2021-01-04 21:10] #216 closed

[2021-01-04 21:18] #191 closed

[2021-01-04 21:19] #209 closed

[2021-01-04 21:36] stanmoore1 commented on #215
I can reproduce a segfault if I use this in your reproducer:

[code]

[2021-01-04 22:05] azacharos commented on #215
The error appears also if the value option is used in the adapt_grid.

[2021-01-04 22:10] stanmoore1 commented on #215
Yeah, I am debugging now, should have a fix soon.

[2021-01-04 22:28] stanmoore1 commented on #215
The issue is that `childlist` here https://github.com/sparta/sparta/blob/master/src/adapt_grid.cpp#L503 is too small. The `nx` `ny` and `nz` default to 2x2x1 unless you use the `cells` keyword. I may need help from @sjplimp to get the logic right.

[2021-01-04 22:32] stanmoore1 commented on #215
As a workaround, you can set `childlist` bigger. You need a factor of 100 (since 20x20x1 divided by 2x2x1 = 100).

[code]

[2021-01-05 21:09] stanmoore1 commented on #215
[adapt_bug.zip](https://github.com/sparta/sparta/files/5772604/adapt_bug.zip)

Here is a more minimal reproducer.

[2021-01-08 20:40] zhangchonglin opened #218 "2D flow over flat plate case crash"
## Summary

A `2D` flow over flat plate (a rectangular box) case crashed. Most likely due to numerical precision issue regarding `cut-cell` algorithm. A slightly modified input script (by simply extending the `x` domain length by `epsilon` (`1e-11` to be precise), the case does not crash.

## Type of Issue

_Bug Report_

## SPARTA Version (Bug Report)

Latest version at commit: effe89e

## Expecte

[2021-01-11 19:44] stanmoore1 commented on #218
@zhangchonglin thanks for the bug report. This sounds similar to the issues that @sjplimp was working on in #208.

[2021-01-13 04:33] stanmoore1 commented on #150
I just got another "particle outside of cell" error in a large 2D axisymmetric simulation, even with the fix in #194. I'll try to debug.

[2021-01-15 18:40] stanmoore1 commented on #150
#221 should fix any issues for axisymmetric by just deleting the particles.

[2021-01-15 21:01] stanmoore1 commented on #13
According to @aborner1, this seems to be related to artifacts in the pRNG.

[2021-01-16 15:09] stanmoore1 commented on #150
@aborner1 can you try out #221 on your axisymmetric case? It should be a fix-all for these types of issues. Not sure why you would see issues in 3D though.

[2021-01-20 03:59] stanmoore1 commented on #215
Fixed by #224, closing #215.

[2021-01-20 03:59] #215 closed

[2021-02-11 22:19] aborner1 commented on #167
@stanmoore1 @sjplimp First issue is still present in the code.

Regarding the second issue, maybe I did not express myself clearly enough when trying to describe the issue.
During a diffuse collision between particle i and a surface, "Particle::evib()" is called at the end of "SurfCollideDiffuse:diffuse()". However, "Particle::evib()" does not handle discrete vibrational energy assignment properly

[2021-02-12 06:53] devidaskgodse opened #227 "simulating granular gas in SPARTA"
## Summary
Is there any way to simulate granular inelastic collisions using SPARTA?

## Type of Issue
Help wanted/Feature Request

## Detailed Description (Enhancement Suggestion)
I am working on a problem with granular gas simulation where inelastic collisions of non-interacting particles have to be considered.
Is there any way to define the tangential coefficient of restitution and normal coeffi

[2021-02-12 22:20] rkcroc opened #228 "Incorrect result when using "fix emit/face" in parallel"
## Summary

I get different numbers of particles emitted when running the same problem parallel versus serial.

## Type of Issue

Bug Report

## Detailed Description (Enhancement Suggestion)

_Explain how you would like to see SPARTA enhanced, what feature(s) you are looking for, provide references to relevant background information, and whether you are willing to implement the enhancement yoursel

[2021-02-12 22:21] rkcroc commented on #228
Sorry, meant to attach same file type for both spreadsheets. Including CSV here; can sent excel sheets if necessary.
[duct_l1_np4_debug.csv.gz](https://github.com/sparta/sparta/files/5974533/duct_l1_np4_debug.csv.gz)

[2021-02-12 22:40] stanmoore1 commented on #228
DSMC is inherently stochastic and based on statistics, so this is not necessarily a bug. The pseudo random number generator (pRNG) is SPARTA depends on the number of MPI ranks. So changing the number of MPI ranks is the same as changing the starting `seed` for the pRNG, and you will get two slightly different (but equally valid) simulations if you run serial vs parallel. D

[2021-02-13 16:10] rkcroc commented on #228
Stan,
Thanks for the prompt response.
I do not believe this is a stochasticity issue. If that were the case, the numbers of particles inserted would have been more random. If you look at the input deck, you'll see that i am requesting 100 particles emitted per timestep. The parallel run did exactly this for the first 2000 steps, but then switched over to 151 particles. This doesn't appear to me th

[2021-02-13 16:24] aborner1 commented on #228
@rkcroc Are you using the Kokkos compiled version for these tests?

[2021-02-13 16:51] stanmoore1 commented on #228
OK we'll take a look.

[2021-02-13 17:23] rkcroc commented on #228
@aborner1 No

[2021-02-15 20:48] stanmoore1 commented on #227
@devidaskgodse I think this would need to be added to SPARTA. Could also take a look at granular models in LAMMPS (https://lammps.sandia.gov/doc/Howto_granular.html) and LIGGGHTS (https://www.cfdem.com/liggghtsr-open-source-discrete-element-method-particle-simulation-code).

[2021-02-15 21:25] stanmoore1 commented on #228
I'm looking at this now. It is suspicious that you rebalance every 2000 steps and the issue happens on step 2001, could be related. I see you are also using the "twopass" option for fix emit, which is a different codepath than not using that flag.

[2021-02-15 21:44] stanmoore1 commented on #228
I've confirmed this is related to `fix balance`, but not to `twopass`.

[2021-02-15 22:07] stanmoore1 commented on #228
@rkcroc This seems to fix the issue. I'll run this by @sjplimp and see what he thinks.

[code]

[2021-02-16 15:38] stanmoore1 commented on #228
@rkcroc can you try #229, it should fix this issue.

[2021-02-16 17:25] rkcroc commented on #228
@stanmoore1 Yes, I now get the expected result for the input deck I sent, with 4 MPI ranks.
Thanks much.

[2021-02-16 17:25] #228 closed

[2021-02-16 18:11] stanmoore1 commented on #228
@rkcroc thanks for the bug report and reproducer script.

[2021-02-19 18:26] aborner1 opened #233 "Reaction tallies can become negative if they overflow an int"
## Summary

Reaction tallies can become negative if they overflow an int.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Current master

## Expected Behavior (Bug Report)

The tally int should be increased to large int so it can accommodate numbers over 2 billions. Currently, if it overflows the max int size, it returns a negative number. It should be set to a bigint.
https://githu

[2021-02-22 21:33] #233 closed

[2021-03-24 14:14] stanmoore1 commented on #150
@aborner1 #221 should fix all axisymmetric issues so I'm going to close this issue. If you see more issues please let us know.

[2021-03-24 14:14] #150 closed

[2021-05-26 10:08] rampsv08 opened #254 "Reg : create_grid levels and adapt_grid with distsurf/grid"
## Summary

Hi,
    I have an issue in create_grid command when passing along with levels and
    second issue is on adapt_grid.
    For simplicity I choose the examples/sphere case.

## Type of Issue
Issue 1 :
create_grid         20 20 20 **levels 2 level 2 * * * 2 2 3**

ERROR: Illegal create_grid command (../create_grid.cpp:188)

when I check the source code, it look like it never enter the if

[2021-06-01 14:16] VirgileCharton opened #260 "Cannot have more than 32 surface groups"
Hello,

I read that SPARTA handles a maximum of 32 surface groups: 31 user defined and a default group called "all". I am using an inflow condition with X different gaz conditions emitted from X different surfaces. Thus, X is the number of boundary conditions I want to use. I need to set X > 32, which is not allowed by SPARTA if I understand correctly.

After a quick look to the code, even changin

[2021-06-01 14:33] VirgileCharton commented on #260
Wrong input file.. Here is the good one:

[Input_files.zip](https://github.com/sparta/sparta/files/6577005/Input_files.zip)

[2021-06-01 14:33] stanmoore1 commented on #260
The 32 limit comes from using a bitmask on a 32 bit integer, so the number of groups cannot be easily extended, i.e. by simply changing a compile-time variable in the code. There may be a different workflow to get the desired behavior, this question comes up often in LAMMPS, which has the same 32 group limit.

[2021-06-01 14:38] stanmoore1 commented on #260
E.g. https://sourceforge.net/p/lammps/mailman/message/26209504/. @sjplimp could have some ideas on how to workaround the limitation.

[2021-06-04 09:04] ahilanezhilappar commented on #187
I tried to validate the SPARTA code for the flow of diatomic gas over a cylinder with existing results and I found the heat flux calculation is incorrect.  I simulated the same for a monoatomic gas and it is validating with stagnation point heat flux error of 7%. So I could narrow down the bug is in inelastic collisions. Can someone shed more light on this issue ? Is there a way to tackle this pro

[2021-06-04 11:19] mgallis commented on #187
Can you give us more details about the issue? How did you determine this error?
Thank you

Michael Gallis

On Jun 4, 2021, at 3:04 AM, ahilanezhilappar ***@***.***> wrote:

﻿

I tried to validate the SPARTA code for the flow of diatomic gas over a cylinder with existing results and I found the heat flux calculation is incorrect. I simulated the same for a monoatomic gas and it is validating with s

[2021-06-07 16:34] stanmoore1 commented on #260
@VirgileCharton I talked to @sjplimp and he suggested writing your own fix that could use surface ids. Increasing the number of groups in SPARTA is not practical due to using a bitmask.

[2021-06-07 16:34] stanmoore1 commented on #260
I'm closing this issue, but feel free to post questions on the SPARTA mail list if you need help extending SPARTA.

[2021-06-07 16:34] #260 closed

[2021-06-07 16:37] stanmoore1 commented on #254
This was due to typos in the doc page (see my response on the mail list), which are fixed by #258 and #259. Closing this issue.

[2021-06-07 16:37] #254 closed

[2021-06-07 16:40] stanmoore1 commented on #167
@aborner1 I submitted a PR for the first issue. For the second issue, do you know what other collide methods need to be modified. You mentioned `collide style TD`, what about `collide style CLL`, or others?

[2021-06-07 17:46] aborner1 commented on #167
@stanmoore1 I think CLL may be handled properly because of the way Krishnan wrote that particular function, but, yes, in theory all the styles that accommodate to the surface temperature should be edited for internal energy.

[2021-06-07 21:09] stanmoore1 commented on #167
@aborner1 can you review #262?

[2021-06-07 21:16] stanmoore1 commented on #167
Issue #2 is not easily fixed in the Kokkos version of `surf_collide diffuse` since it is calling a virtual function inside a `parallel_for`, so it now errors out if using `surf_collide diffuse` with `fix vibmode`. When I have time I'll try to get a better solution.

[2021-06-07 21:18] aborner1 commented on #167
@stanmoore1 Looks good to me. The Kokkos code does indeed look odd, but you are the expert so fine with me.

[2021-06-07 21:31] stanmoore1 commented on #167
Surface reactions aren't yet supported with Kokkos, so that is why a lot of code is commented out...

[2021-06-07 21:39] aborner1 commented on #167
I see, makes sense then

[2021-06-07 22:11] stanmoore1 commented on #187
This issue seems very similar to #2.

[2021-06-07 22:14] mgallis commented on #187
The fix for this will be checked in soon.

From: Stan Moore ***@***.***>
Reply-To: sparta/sparta ***@***.***>
Date: Monday, June 7, 2021 at 4:11 PM
To: sparta/sparta ***@***.***>
Cc: Michael Gallis ***@***.***>, Comment ***@***.***>
Subject: [EXTERNAL] Re: [sparta/sparta] Inelastic collision problems in SPARTA code (#187)

This issue seems very similar to #2<https://github.com/sparta/sparta/issues

[2021-06-08 09:39] VirgileCharton commented on #260
Hi,
Thanks again for your suggestion. I tried with region keyword from emit/surf : my goal is to emit particules from more than 32 inflow boundaries. Instead of using 32 groups, I use one with all the surf corresponding to the inflows and define a region box for each emit/surf so that they only emit through surf defined by the region box. The number of region box is unlimited so that works for me.

[2021-06-16 17:30] bjohn-github opened #264 "Paraview issue with SPARTA Feb2021 release"
## Summary

grid2paraview.py not producing the .vtu file, when using the read_grid option in the grid description text file.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Feb2021 release

# Actual Behavior (Bug Report)

There seems to be a problem with paraview visualisation of the grid and results with the Feb2021 release, which is not present in previous versions like Jan20 rele

[2021-06-16 17:43] bjohn-github opened #265 "create_grid issue"
## Summary
create_grid command with levels of refinement gives error with Feb21 release.

_Please provide a brief description of the issue_

## Type of Issue

'Bug Report'?

## Detailed Description (Enhancement Suggestion)

_create_grid 20 20 1 levels 2 level 2 * * * 2 2 1_ instead of _create_grid 20 20 1_ throws an error- "ERROR: Illegal create_grid command (../create_grid.cpp:188)"

 Please doub

[2021-06-21 14:33] stanmoore1 commented on #265
@bjohn-github You need to use the `subset` command, not `level`. The command syntax changed, but there was a typo in the docs.

[code]

[2021-06-21 14:34] stanmoore1 commented on #265
The docs will be updated when the next release is pushed. Closing #265.

[2021-06-21 14:34] #265 closed

[2021-06-21 14:36] stanmoore1 commented on #264
@tjotaha any ideas?

[2021-06-22 14:56] tjotaha commented on #264
@stanmoore1 I was not able to reproduce this test case. I keep getting a .pvtu file along with a .vtu file. What version of ParaView was used when running pvpython? Was this on Windows? I'm using a Linux machine to try and reproduce.

[2021-06-22 14:58] aborner1 commented on #264
@tjotaha @stanmoore1 I have found that this happens if you try and post-process without a dump file, i.e. just the grid: you may want to try "pvpython grid2paraview.py grid.txt circle_grid".

[2021-06-22 15:46] tjotaha commented on #264
@aborner1 I tried running the command without the dump file. I still get a working .pvtu and .vtu file.  Could I get some details about your ParaView version and platform?

[2021-06-22 15:47] aborner1 commented on #264
I was running on Mac OS 10.15 and Paraview 5.9.0-RC2.

[2021-06-22 16:26] tjotaha commented on #264
It looks like it is a Mac related issue. I get a hang when I try to run pvpython from the terminal. This is using a download of ParaView 5.9 from the Kitware site.

[2021-06-22 17:29] bjohn-github commented on #264
I use linux Opensuse and get issues only on using the Feb2021 release. As mentioned if the grid.txt file is specified as below (i.e. using the ‘read_grid viz.out’ instead of ‘create_grid 20 20 1’), I face the issues I mentioned. If we use the ‘create_grid 20 20 1’ option, then there are no issues. For both cases, I specify pvpython grid2paraview.py grid.txt circle_grid -r GridTemp.1000. The in.cir

[2021-06-22 18:07] tjotaha commented on #264
Could you try the attached grid2paraview.py on this test case and report any error output?  Thanks.

[grid2paravew.zip](https://github.com/sparta/sparta/files/6696471/grid2paravew.zip)

[2021-06-22 18:25] bjohn-github commented on #264
The error using the given grid2paraview.py is below. This is when using the ‘read_grid  viz.out’ option in the grid.txt file. With ‘create_grid 20 20 1’ option in the grid.txt file, there are no issues again.

Processing  1  grid chunk(s).
Traceback (most recent call last):
  File "grid2paraview.py", line 1472, in <module>
    args.paraview_output_file)
  File "grid2paraview.py", line 220, in crea

[2021-06-22 19:20] tjotaha commented on #264
Okay. It looks like the issue is related to a Python 2 and 3 incompatibility with the next iterator.  Please try the attached grid2paraview.py. It should work with both Python 2 and 3. If this fix works, I'll open a pull request to get this change in Sparta master.

[grid2paraview_fixed_python2.zip](https://github.com/sparta/sparta/files/6696884/grid2paraview_fixed_python2.zip)

[2021-06-22 20:33] bjohn-github commented on #264
Yes, It does work now. Thanks!

From: tjotaha ***@***.***>
Sent: 22 June 2021 20:21
To: sparta/sparta ***@***.***>
Cc: John, Benzi (STFC,DL,SC) ***@***.***>; Author ***@***.***>
Subject: Re: [sparta/sparta] Paraview issue with SPARTA Feb2021 release (#264)

Okay. It looks like the issue is related to a Python 2 and 3 incompatibility with the next iterator. Please try the attached grid2paraview.py.

[2021-06-24 20:38] #264 closed

[2021-06-25 23:36] aborner1 commented on #187
@realprivate When you use the discrete vibrational temperature, do you use "compute tvib/grid" or "compute grid tvib"? If you don't use the latter, the displayed vibrational temperature will not be the value that the code uses. As a matter of fact, we should have a warning message that lets the user know they should NOT use "compute grid tvib" with the discrete model (and vice-versa).

[2021-06-26 03:28] realprivate commented on #187
Yes, in the test case above, I use "compute grid tvib" after I use the discrete vibrational temperature.

[2021-06-26 03:38] aborner1 commented on #187
@realprivate Sorry, I actually made things even more confusing in my last comment. You are supposed to use “compute tvib/grid” if you use the discrete model, otherwise the temperature you print out is actually wrong.

[2021-06-26 11:16] realprivate commented on #187
Thanks for your advice ! I will test this later.

[2021-06-28 21:39] #167 closed

[2021-06-29 14:32] #13 closed

[2021-06-29 19:00] #2 closed

[2021-06-29 19:04] stanmoore1 commented on #187
#268 fixed the variable rotational portion of this issue. However, I'm leaving this issue open since using `vibrate discrete` still gives vibrational nonequilibrium.

[2021-06-30 14:41] stanmoore1 commented on #187
@aborner1 I can add a warning when using `compute grid tvib` with the discrete model. However, I think using `compute tvib/grid` without the discrete model is handled correctly in the code, do you disagree?

[2021-06-30 16:06] aborner1 commented on #187
@stanmoore1 Nope, I definitely agree

[2021-07-15 17:07] aborner1 opened #273 "Issue with Grid2paraview when breaking grid into smaller chunks?"
## Summary

There could be an issue with grid2paraview.py when breaking the grid into smaller chunks .

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Current master, but it is not something new, I have seen it many times on different versions of the code, dating back possibly multiple years?

## Expected Behavior (Bug Report)

There should be no discontinuity when converting a grid

[2021-07-16 16:47] stanmoore1 commented on #273
@tjotaha can you take a look when you have time?

[2021-09-22 17:15] aborner1 opened #285 "Degeneracy in multiple vibmodes species not working properly."
## Summary

Degeneracy > 1 not working properly for species with multiples vibmodes (e.g. CO2).

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

Current master.

## Expected Behavior (Bug Report)

CO2 has 4 vibration al modes, with its bending mode being degenerate. Therefore, I should be able to specify 8 vibrational DOF in the species file, and 4 vibrational modes in the .vib file,

[2021-10-07 06:53] thunderbird-98 commented on #265
Could you reply to me with a correct example that uses the subset keyword, instead of levels?
Thanks

[2021-10-11 15:38] vimalrajv opened #286 "Crash on using "fix ID balance""
## Summary

Sparta crashes on using "fix ID balance"

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

26Feb21

## Expected Behavior (Bug Report)

Sparta doesn't crash but gives a message if there is an error.

## Actual Behavior (Bug Report)

On using "fix ID balance rcb time or cell", the simulation segfaults.

## Steps to Reproduce (Bug Report)

Use the attached input file and geom

[2021-10-11 19:23] #286 closed

[2021-10-14 18:47] #7 closed, assigned to sjplimp

[2021-10-14 19:39] #203 closed

[2021-12-08 18:07] stanmoore1 commented on #3
Fixed in #296, see https://github.com/sparta/sparta/pull/296/files#diff-838c8ab9e71ab92827e3c963f2f164c11cfe3a9a437940ecf96a5156edf7d0cfL240.

Closing #3.

[2021-12-08 18:07] #3 closed

[2021-12-08 18:12] stanmoore1 commented on #162
We are planning to fix this in #303.

[2022-01-07 17:27] #162 closed

[2022-01-10 17:30] rkcroc opened #318 "Efficient simulation of helical geometries"
## Summary

In order to efficiently simulate long, thin helical geometries, need a new boundary condition.

## Type of Issue

Suggestion for an Enhancement

## Detailed Description (Enhancement Suggestion)

I would like to simulate flow along a helical channel in a cylinder. The channel being one of several in the cylinder, all connected by a shallow (i.e. much shallower in depth along the radius

[2022-01-10 17:50] stanmoore1 commented on #318
@rkcroc Can you post your modified `domain.cpp` that caused the error above? Seems like it should be simple, not sure why it didn't work.

[2022-01-10 17:56] rkcroc commented on #318
@stanmoore1
The failure happens with or without the shift I added to `domain.cpp`, but at any rate, here it is. There are other files, mostly for reading the shift in from input.
[create_shift.zip](https://github.com/sparta/sparta/files/7840919/create_shift.zip)

[2022-01-10 18:00] stanmoore1 commented on #318
Thanks, I'll take a look.

[2022-01-15 19:26] zhangchonglin opened #319 "Code crash (out of memory) running with GPU"
## Summary

While running a test problem with AMR on GPU, the simulation crashed in the middle due to `out of memory` issue. I just checked it is the same case as in issue #216, just a finer mesh and modified sampling and AMR time step sizes. Using the same input script running on CPU and different executable, the simulation runs fine to the end. Just reporting here in case it's a bug. It's puzzli

[2022-01-18 12:06] stelvar opened #320 "kokkos accelerated version of the fix emit/surf command"
## Summary

To create the kokkos accelerated version of the fix emit/surf command.

## Type of Issue

'Suggestion for an Enhancement'

## Detailed Description (Enhancement Suggestion)

In the latest version of SPARTA (7 Jan 2022) the only accelerated command, which allows for emitting particles only through the computational box faces is the fix emit/face. Such a case is mainly suitable for extern

[2022-01-25 15:01] stanmoore1 commented on #320
@stelvar thanks for the report, I will try to bump up priority of porting `fix emit/surf` to Kokkos.

[2022-01-25 15:09] stelvar commented on #320
I really appreciate that. Thank you for all your efforts in advance.

[2022-01-25 16:12] zhangchonglin commented on #319
@stanmoore1: Hi Stan, I am running with `Nvidia GTX 1080Ti`, a desktop GPU. It has 11 GB of memory.

[2022-01-25 23:06] stanmoore1 commented on #319
I can reproduce the out of memory condition. Right before I crash I saw 9 GB of memory usage:

[code]

It seems to be crashing shortly after refinement.

[2022-01-25 23:11] zhangchonglin commented on #319
@stanmoore1: Yes, I also saw right after the `AMR`, the memory usage seems to grow quickly (disproportionate to the increase of number of particles) and out of control.

[2022-01-25 23:12] stanmoore1 commented on #319
I'm memory profiling it now. Will check for leaks too.

[2022-01-26 00:18] stanmoore1 commented on #319
@zhangchonglin does this fail every time for you? I've seen it twice, but it seems to run fine sometimes, having trouble getting it to fail reliably.

[2022-01-26 00:41] stanmoore1 commented on #319
I just saw it again, I'm 90% sure this is a bug.

[2022-01-26 01:12] zhangchonglin commented on #319
@stanmoore1: it seems to fail every time for me, despite some times after first AMR, some times after 2nd AMR.

[2022-01-26 16:59] stanmoore1 commented on #319
I made some progress--the `maxcellcount` in the Kokkos particle `sort` is blowing up in some cases, which makes `plist` huge. This is a bug.

[code]

[2022-01-26 18:49] zhangchonglin commented on #319
@stanmoore1: thanks for the update Stan! I see above is from `kokkos-tool`'s  `Space-Time Stack` tool, nice use of it.

[2022-01-26 19:40] stanmoore1 commented on #319
Indeed! I added a signal handler in SPARTA `kokkos.cpp` to call `Kokkos::finalize()` on abort, otherwise `kokkos-tools` won't give any output when it runs out of memory. I will submit this change as a PR.

[2022-01-26 19:59] stanmoore1 commented on #319
None of my jobs with UVM (unified virtual memory) crashed, so this seems to be a sync issue between GPU and CPU memory.

[2022-01-28 03:31] stanmoore1 commented on #319
@zhangchonglin I think I fixed this, see https://github.com/sparta/sparta/pull/322/commits/eda30a65a05c3463429e783d69544651954d4129. Can you confirm? It was missing data movement between CPU/GPU. Thanks for reporting!

[2022-01-28 03:57] #319 closed

[2022-01-28 15:53] zhangchonglin commented on #319
@stanmoore1: Thanks Stan. I just checked and the with this commit, the code is working fine now!

[2022-02-07 16:33] rkcroc commented on #318
@stanmoore1
Any further news on this?
We are engaging a customer on this, and would both appreciate the help, and be able to provide further code development work in Sparta.
Lastly, if a more complete description of what we are trying to do would help, I am happy to provide.

[2022-02-07 17:46] stanmoore1 commented on #318
I tried a simple change to `domain.cpp` and I get the same error: `ERROR on proc 0: Cell type mis-match when marking on self (../grid.cpp:1497)`. Looks like this will be more complicated than we thought.

[2022-02-07 17:57] stanmoore1 commented on #318
Here is a stack trace of the error:
[code]

[2022-02-07 18:01] aborner1 commented on #318
This is not an uncommon error, I have frequently encountered it in axisymmetric simulations. Reproducing it can, however, be tricky.

[2022-02-07 18:12] stanmoore1 commented on #318
If I remove all the surface code in `in.superSimpleSeal` then it runs fine without error with the new BC.

[2022-02-08 10:13] aklothakis opened #328 "Paraview error with 2D adapted grid result files"
## Summary

Paraview error with 2D adapted grid result files

## Type of Issue

Bug report

## Detailed Description (Bug report)

When converting a 2D result file to .pvd with grid2paraview.py it produces an error in Paraview. The error message is "Cannot read cell data array. The data array in the element may be too short".  I am using Paraview version 5.10.0 but the same error happens also in 5.

[2022-02-08 10:19] aklothakis commented on #328
Please find a zip with the required files to reproduce the issue in the link below.

[https://we.tl/t-g2ns6MtUC1](url)

[2022-02-08 18:31] stanmoore1 commented on #318
@rkcroc there appears to be some issue with the `superSimpleSeal` example--I just tried it without any shift and it still gives the same error. So perhaps the new BC is fine.

[2022-02-08 18:39] stanmoore1 commented on #328
@aklothakis can you please repost the reproducer--it didn't come through in that link above--thanks. @tjotaha any ideas?

[2022-02-08 19:36] rkcroc commented on #318
Recall that I ran successfully with the same surfaces as in `data.superSimpleSeal`, but vanish condition at those boundaries.
I assume that `Grid::set_inout` is attempting to establish that there is a watertight surface. Is there a different logic for periodic BCs in that case?

[2022-02-08 21:19] aklothakis commented on #328
@stanmoore1 Yes sure looks like Github is blocking the link. I am including one more result file in this one. If you run grid2paraview.py with the tmp_biconic.880000 as a results input then if you try to load it in Paraview you get an error message for the variables id,xlo,xhi. If you uncheck these then the .pvd opens and loads the result.

I included also 2 grid files one produced by the fix_adap

[2022-02-08 23:10] stanmoore1 commented on #328
I tried attaching the file here, but Github has a 25 MB size limit. I will send a copy to @tjotaha who is our Paraview expert.

[2022-02-09 15:02] tjotaha commented on #328
@stanmoore1 Thanks for sending the data to reproduce this issue.

I ran grid2paraview.py with Grid.txt and no input flow files. I got out a Grid.pvd and a Grid directory with one pvtu file but no vtu files. This does not load correctly in ParaView, since the vtu files referred to by the pvtu file do not exist.

I then modified grid2paraview.py slightly to force it to run single threaded and give m

[2022-02-09 15:53] stanmoore1 commented on #328
Thanks @tjotaha!

[2022-02-09 20:39] aborner1 commented on #285
@stanmoore1 Just to be clear here, I can live without this, and I believe the code is correct. It is just that at this time, we are basically not using the mode degeneracy despite it being a request input. So instead, with specify the same degenerate mode twice in the input file (for CO2). I believe the relaxation is still being handled properly, but it might lead to some slowdown for large specie

[2022-02-10 18:07] aklothakis commented on #328
Thanks @tjotaha for the info regarding this issue. The .vtu files were created in a linux cluster. Then I donwloaded the folder in my Windows box to plot it in Paraview. The files were made with pvpython 5.8.1 and I tried to view them with Paraview 5.10.0. I reran the simulation again to produce new files. The grid.120000 looks ok now I am attaching it below. Unfortunately, when I try to plot it i

[2022-02-17 19:47] ebolandrtx opened #330 "Test Suite Failures"
## Summary

Sparta January 2022 build has a set of failures in the test suite.

## Type of Issue

Bug/Information Report

## SPARTA Version (Bug Report)

January 7, 2022

## Expected Behavior (Bug Report)

Test Suite Passes

## Actual Behavior (Bug Report)

Failures found in collideInterspeices and thermostat tests.

## Steps to Reproduce (Bug Report)

## Further Information, Files, and Links

[2022-02-17 19:49] stanmoore1 commented on #330
@ebolandrtx can you provide more details--how are you testing, what exact version of the code, etc? We have regression tests that are passing as well as the GitHub pull request tests.

[2022-02-17 19:50] ebolandrtx commented on #330
Hi Stan,

We are using the through -DSPARTA_CTEST_CONFIGS="PARALLEL;SERIAL" \
and testing with ctest -C PARALL and ctest -C SERIAL

The version of the code is the most recent - January 7th 2022 release.

[2022-02-17 21:37] ebolandrtx commented on #330
FYI - i am using the Intel 2021.2 compiler) with MKL and MPI (although the errors seemed agnostic to wether or not MKL(FFT) was included).

[2022-02-22 15:09] stanmoore1 commented on #318
@sjplimp can you take a look?

[2022-03-01 19:57] stanmoore1 commented on #330
I can reproduce the failures on Intel. However, I believe this is just a compiler issue--unfortunately small differences like optimization level can lead to diverging trajectories (where both are equally valid, similar to changing the starting seed for the pRNG). Unfortunately there isn't an easy fix for this. The "gold standard" log files are based on the GNU compiler, so I would recommend using

[2022-03-01 19:58] stanmoore1 commented on #330
I will put a note in the doc page.

[2022-03-01 19:58] #330 closed

[2022-03-03 17:42] ebolandrtx commented on #330
@stanmoore1 which version of GNU? (Does it matter?) I don't want to jump ahead too far an run into the same issue.

[2022-03-25 18:05] rkcroc commented on #318
FYI @loneill0008

[2022-03-31 03:58] realprivate opened #339 "Create particles according to the initial streaming velocity of each grid"
## Summary

Is there a more convenient way to create particles according to the initial streaming velocity of each grid  ?

## Type of Issue

Suggestion for an Enhancement

## Detailed Description (Enhancement Suggestion)

Currently, I am working on a simulation project, in which the flow field satisfies random initial conditions. Specifically, I first generate the streaming velocity of each grid

[2022-04-02 05:56] degun89 opened #340 "Unexpected particle behaviors on a subsonic emit/face"
## Summary

Unexpected particle behaviors on a subsonic emit/face for the axisymmetric jet flow simulation

## Type of Issue

Unknown

## Detailed Description (Enhancement Suggestion)

When simulating the axisymmetric jet flow, I found some strange particle behaviors on the inlet face with subsonic emit/face option. The particles emitted from the inlet face rise away from the axis (ylo). This prob

[2022-04-06 16:38] aklothakis commented on #340
@degun89 you can try to setup the yhi boundary as reflective with this command

boundary o ar p

and then try to initialize the particles in your domain with this command

create_particles air n 0

Right now seems that you start with vacuum that's why you see this behavior. You must also modify the fix command and remove the yhi boundary from fix ambient emit/face if yhi is set as reflective.

An

[2022-04-06 22:50] rm-tom opened #341 "Incorrrect calculation of collisions in 2D"
## Summary

Incorrect calculation of collisions  in 2D simulations

## Type of Issue

Bug Report

## Detailed Description (Enhancement Suggestion)

While running a 2D simulation where the length scales are of the order (10^-8), the number of collision are coming to 0. As a test case, I simulated 10000 particles of diameter 0.4 nm over an area of 25 by 25nm square. In reality, this is impossible si

[2022-04-07 10:56] timteichmann commented on #341
Hi,
I think everything is behaving as intended: As you have written the volume is calculated assuming an extension of 1 m in z-direction, which means that SPARTA - correctly - simulates no collisions because you are simulating 10k * FNUM = 100k particles in a volume of 6.25 * 10^-16 m^3, this corresponds to a number density of 1.6e20, so well below atmosphere and definitely no touching particles.

[2022-04-07 20:57] rm-tom commented on #341
Hi,

Yes, you are right, given the box volume and time scale of simulation, the number of collisions must come out to be 0. This is because the cell dimension is too large in the z direction. Option two seems a better alternative since in my original script I have 2d surfaces defined. However, I am not sure if changing the global FNUM will solve the problem since each cell ceases to be a 2d cell.

[2022-04-08 01:04] timteichmann commented on #341
Hi,
2d means that the physical problem is "identical" in the third direction; there is no physical gas phenomenon that is truly 2d. This means that the 2d flow around a circle represents the 3d flow around a very long cylinder, where you at some cylinder length z (3rd direction) to area (x,y directions) ratio decide that boundary conditions at the ends of the third direction (z=0, z=L) play no rol

[2022-04-08 01:14] rm-tom commented on #341
That makes sense. Thanks for that clarification.

[2022-04-08 01:16] timteichmann commented on #341
No problem :) I have added a short comment on the periodic boundary condition at the ends above.

[2022-04-08 08:51] timteichmann commented on #340
There is a pressure ratio > 1500, wouldn't you have choked flow (i.e. sonic conditions) at the orifice on the left? I am not sure if the subsonic BC can handle that case. I think you either have to modify your `fix emit` at the orifice to sonic conditions or to include a large reservoir at 1e5 Pa on the left of the orifice?

[2022-05-18 17:41] stanmoore1 commented on #341
Thanks @timteichmann for the detailed explanation! Closing this ticket, @rm-tom let us know if you have more issues.

[2022-05-18 17:41] #341 closed

[2022-07-05 16:37] ebolandrtx opened #348 "SPARTA Manual"
## Summary

The link to the PDF manual on the SPARTA website appears to be broken. Can you please repost?

## Type of Issue

'Suggestion for an Enhancement'?

## Detailed Description (Enhancement Suggestion)

SPARTA PDF manual appears to be missing from the website. Is there a specific browser we should use, or does another PDF file need to be posted.

Thanks!

Erin

[2022-07-10 22:49] ebolandrtx opened #349 "SPARTA compilation with Kokkos"
## Summary

SPARTA Compilation with Kokkos

## Type of Issue

Help Request?

## SPARTA Version (Bug Report)

I am working on compiling SPARTA with the kokkos backend provided in the January 7, 2022 release. When using cmake to build kokkos in the lib/kokkos directory, i've noted that libkokkoscontainers.so and libkokkoscore.so are built, but not libkokkos.so as seems to be expected by SPARTA. Is t

[2022-07-12 02:16] zhangchonglin opened #350 "balance_grid command crashed with "rcb time" option"
## Summary

_When running the static load balance using `balance_grid rcb time` option, the code crashed during the load balance operation._

## Type of Issue

_Bug Report_

## SPARTA Version (Bug Report)

_Latest SPARTA version at commit: 7e1c343_

## Expected Behavior (Bug Report)

_The `balance_grid rcb time` command should be able to execute properly without crash._

## Actual Behavior (Bug Re

[2022-07-12 11:55] aklothakis commented on #350
@zhangchonglin have you tried after adaption to run for a few timesteps and then perform the balancing using the timers?

[2022-07-12 14:17] stanmoore1 commented on #350
@zhangchonglin thanks, will take a look

[2022-07-12 21:43] stanmoore1 commented on #350
@zhangchonglin I can reproduce this bug, debugging now.

[2022-07-13 19:16] stanmoore1 commented on #350
@zhangchonglin this should be fixed by #351. Note that `adapt_grid` resets the timers so you can't use `balance_grid rcb time` immediately after this command. Also grid adaptation (`fix adapt`) with coarsening may migrate cells to different processors, which may make the accumulated time history less accurate if you use `fix balance rcb time` immediately after `fix adapt` with coarsening. I added

[2022-07-13 19:49] stanmoore1 commented on #349
@ebolandrtx can you provide more info, like your CMake command? Here is what I see when I compile SPARTA with KOKKOS package enabled:

[code]

[2022-07-14 03:00] zhangchonglin commented on #350
@stanmoore1: Thanks for taking a look at this issue. I guess to be fair, it's not really a bug, but rather an issue with my understanding and use of the command.

[2022-07-14 03:00] #350 closed

[2022-07-14 03:03] stanmoore1 commented on #350
Nah, a segmentation fault crash is always bug--I needed to pass a pointer by reference instead of value to fix this...

[2022-07-14 03:05] zhangchonglin commented on #350
OK, I see. Thanks for fixing this!

[2022-07-15 03:21] ebolandrtx commented on #349
cmake -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR \
            -DCMAKE_C_COMPILER=gcc \
          -DCMAKE_CXX_COMPILER=$INSTALL_DIR/bin/nvcc_wrapper \
         -DCMAKE_CXX_FLAGS="-fPIC -O2" \
          -DCMAKE_SHARED_LINKER_FLAGS="-fPIC -shared" \
          -DCMAKE_EXE_LINKER_FLAGS="-g -O" \
          -DSPARTA_DEFAULT_CXX_COMPILE_FLAGS="-DSPARTA_PNG -lpng -DSPARTA_GZIP -DSPARTA_FFMPEG" \
          -DBUIL

[2022-07-15 03:23] ebolandrtx commented on #349
Do i need to compile Kokkos first?

[2022-07-15 03:39] zhangchonglin commented on #349
I think you just need to enable `kokkos` package using `-DPKG_KOKKOS=ON`, like what Stan mentioned in his comment.

Just in case it will be helpful, I have the following script to build SPARTA with `kokkos` support and it works fine:
https://github.com/zhangchonglin/sparta_scripts/blob/main/build_sparta_kokkos.sh.
You need to modify `-DKokkos_ARCH_PASCAL61=ON` to your GPU device architecture, refe

[2022-07-15 18:49] ebolandrtx commented on #349
OK - took out a few more of the build directives and i am definitely beyond the build issues. Thanks both of you for responding. Is there an Enable Tests option for a Kokkos based Sparta?

[2022-07-15 19:05] stanmoore1 commented on #349
Not yet. We do have internal regression tests that run on GPUs though.

[2022-07-15 19:06] stanmoore1 commented on #349
@ebolandrtx which were the problematic build directives? Shared libs?

[2022-07-15 23:44] ebolandrtx commented on #349
@stanmoore1 i believe so. It doesn't seem to be completely set up to build kokkos as a shared library. I also removed -DBuild_Kokkos and just left the -PKG_Kokkos=On in the directives. Not sure that latter really mattered though.

[2022-07-19 03:12] ebolandrtx commented on #349
Ok i put my finger on it - was not located in the build directory, so it looked like problems from the SHARED libs. Can SPARTA use multiple GPUs on the same node without openMPI?

[2022-07-25 16:21] stanmoore1 commented on #349
No, you must have at least 1 MPI rank per GPU with Kokkos. You can have *multiple* MPI ranks per GPU with CUDA MPS but not multiple GPUs per MPI rank.

[2022-07-25 16:23] stanmoore1 commented on #348
This is now fixed.

[2022-07-25 16:23] #348 closed

[2022-07-25 16:24] ebolandrtx commented on #349
@stanmoore1 Thanks! I didn't think fftw supported CUDA. Would you recommend using the native FFT provided with Sparta? Is that FFT MPI capable?

[2022-07-25 16:27] stanmoore1 commented on #349
The FFTs in SPARTA do not yet have Kokkos support--we are working on that, and this enhancement should be released soon. So currently the FFTs will just run on the host. Best for CUDA is to use NVIDIA's cuFFT library, but again we need to add support for that--in progress.

[2022-08-25 22:32] aborner1 opened #361 "Compute_surf nflux and mflux are not calculated as intended"
## Summary

Compute_surf nflux and mflux are not calculated as intended. If using a non-transparent surface, the calculation for flux and flux without any surface reaction will always return a zero value. I do not believe that is the correct behavior, nor definition of a number flux (and by extension a mass flux). The number flux definition from both Bird 94/14, and Boyd/Schwartzentruber 17, is si

[2022-08-26 06:08] timteichmann commented on #361
Physically speaking the current behavior is correct: flux is defined as flow rate by area. If the surface is closed and all particles are reflected the flux and the flow rate thru the surf should be zero. The same definition is also used in Bird 94, see equation 7.45, where

`Ndot = Ndot_incident + Ndot_reflected = 0`

I can imagine that this is not very useful for external flows (e.g. a particle

[2022-08-31 17:59] sandshrew118 opened #363 "Possible discrepancy between Pizza tools in Sparta distro and those downloaded directly from Pizza website?"
## Summary

I tried to create a 2D rectangle as a surface using
`python2 ~/Code/sparta/tools/surf_create.py "data.pipe" rect 0 0 49e-3 1e-3 1 1`
and using
`export SPARTA_PYTHON_TOOLS=/home/.../Code/sparta/tools/pizza/`
which gave the error:
[code]

However, when I switched to
`export SPARTA_PYTHON_TOOLS=/home/.../Code/pizza/pizza-9Oct15/src/`
It fixed the issue.
Possibly the Pizza tools that come

[2022-09-01 16:18] stanmoore1 commented on #363
@sandshrew118 I can reproduce this error. I diffed the pizza files in SPARTA vs the pizza repo and they are the same. However, your version of pizza is super old (9Oct15) so it looks like a bug may have been introduced in a more recent version.

[2022-09-01 16:21] stanmoore1 commented on #363
@sjplimp can you take a look?

[2022-09-01 21:28] sandshrew118 commented on #363
Hi Stan,
Thanks for having a look.
Just to mention I did download that pizza.py only a couple of days ago from
the pizza website, and the latest features/bugs page also says that 2015
one is the latest version.
Thanks,
Andrew

On Thu, 1 Sep 2022, 17:21 Stan Moore, ***@***.***> wrote:

[2022-09-28 08:42] federicaportis opened #364 "Error using Sparta"
## Summary

When I run the simulation all went smoothly but when I use the restart command and i want to rerun the simulation it didn't start and give me this an Error message: Did not assign all restart particles correctly.

## Type of Issue

It's a 'Bug Report' because I don't know what to do to prevent this kind of error.

## SPARTA Version (Bug Report)

The SPARTA version that I'm using is the

[2022-09-28 14:07] stanmoore1 commented on #364
@federicaportis thanks for the report. The 2016 version is pretty old, can you try with the latest patch release (18Jul2022)? Note that there have been several changes to the restart file format, so newer versions of the code cannot read restart files created by older versions of the code, and visa versa.

[2022-09-28 15:59] stanmoore1 commented on #364
Also if you post a minimal reproducer with everything needed to run we can take a look.

[2022-09-30 20:03] stanmoore1 commented on #363
@sandshrew118 I took a look at `sdata.py` and there is a bug from a recent update. We'll work on fixing it.

[2022-10-19 21:04] mgosma opened #370 "Consistent "Edge not part of 2 vertices" error during grid refinement"
## Summary
Hello,

I'm attempting to run a 3D re-entry case using a detailed capsule geometry in SPARTA using adaptive grid refinement. However, I am repeatedly running into an error when too fine of a mesh is applied in proximity to my surface elements.

## Type of Issue

Bug Report

## SPARTA Version (Bug Report)

18Jul2022

## Expected Behavior (Bug Report)

Expected behavior that every set num

[2022-10-19 21:16] stanmoore1 commented on #370
@mgosma thanks for the report. These types of errors are typically due to issues in your surface representation. In the past we also had issues with roundoff error inside SPARTA, but all known issues were fixed.

Also, running on 800 cores is going to make it hard to debug--if you could make a more minimal reproducer to reduce the size of the problem that would be really helpful.

[2022-10-19 22:24] mgosma commented on #370
Apologies, here's a simpler example that will produce the error on start-up. At least in this example, the error only occurs when ran with spa_mpi_big or an equivalent make that removes the 6-level child cell restriction. (The original was ran with a makefile designed for Pleiades)

################################################################################
# 3d flow around Orion Capsule
# Mo

[2022-10-19 22:27] stanmoore1 commented on #370
@mgosma that is helpful, thanks. I'll take a look.

[2022-10-20 16:02] stanmoore1 commented on #370
I can reproduce this

[2022-10-20 17:39] stanmoore1 commented on #370
@mgosma I did some debugging. I'm seeing a few warnings with the surface:

[code]

As best as I can tell, the issue is at or close to point 68615 in `data.orion`. Do you have a way to visualize that part of the surface? May need help from @sjplimp to debug further, but everything I've seen points to some issue with your surface file, not SPARTA itself.

[2022-10-20 18:09] stanmoore1 commented on #370
Here are the two points of the edge where it is first crashing. It doesn't exactly match anything in `data.orion`, so I think it may be related to the "tiny edges" that were removed, i.e. SPARTA was massaging the surface. So it could be a bug in SPARTA, but cleaning up the surface will likely make the issue go away regardless.
[code]

[2022-10-20 21:33] mgosma commented on #370
Thanks for the suggestions all; I'll take a closer look at the surf file. I converted this geometry from a DAC dacsd input file, but I'm unsure if this is the exact geometry ran during their case or if there's additional cleaning performed during pre-processing. Will try the Meshlab approach and report back next week.